* {
    box-sizing: border-box;
    font-family: Inter;
    /* border: 1px solid red; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-contact {
    width: 200px;
    margin-left: 6.25rem;
    margin-top: 2rem;
    margin-bottom: 6.25rem;
    display: flex;
    gap: 2.5rem;
    justify-content: flex-start;
}

.work-contact > * {
    align-self: center;
    font-size: 22px;
    font-weight: 600;
}

.work-contact > a {
    text-decoration: none;
    color: #212121;
}

.social-media {
    width: 200px;
    margin-right: 6.25rem;
    margin-top: 2rem;
    margin-bottom: 6.25rem;
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
}

.social-media > *{
    align-self: center;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 400;
}

#intro {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-bottom: 6.25rem;
}

#intro > h4 {
    margin-top: 0%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4em;
}

#intro > h2 {
    margin-top: 0%;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4em;
}

h5 {
    margin-top: 0%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4em;
}

hr {
    margin-left: 5.563rem;
    width: 78rem;
    background-color: #7C7C7C;
    height: 1px;
}


/* Step by Step */
section > #grid-scroll-horizontal {
    position: relative;
}

#scroll-horizontal {
    width: 100%;
    position: relative;
}

#scroll-horizontal > img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    opacity: 0;
}

#scroll-horizontal > img:first-child{
    position: static;
}

#scroll-horizontal > img.active{
    transform: translateX(0%);
    opacity: 1;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow-left:hover {
    cursor: pointer;
    opacity: 80%;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-right:hover {
    cursor: pointer;
    opacity: 80%;
}

.buttonInactive {
    pointer-events: none;
}


/* Habilities aquired */
section > #habilities-aquired {
    display: flex;
    width: 100%;
    background-color: #F7F7F7;
}

#habilities-aquired > img {
    display: none;
}

#habilities-aquired > img.active {
    display: initial;
}


/* Work */
#work, #contact-info {
    margin-left: 5.563rem;
}

#work > h1 {
    margin: 0%;
    font-size: 6rem;
    font-weight: 600;
    margin-top: 3.75rem;
}

#work > h5 {
    margin: 0%;
}

.main-work {
    margin: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main-work > div {
    margin: 0;
    margin-top: 1rem;
}

.project-name {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.project-field {
    margin-top: 0.2rem;
    font-weight: 400;
    font-size: 1rem;
}

.main-work > div > hr {
    margin: 0;
    margin-top: 1rem;
    width: 400px;
    height: 0.3px;
    color: #7C7C7C;
}


/* Contact */
#contact-info > h1 {
    margin: 0%;
    font-size: 6rem;
    font-weight: 600;
    margin-top: 3.75rem;
}

#contact-info > h5 {
    margin: 0%;
}

.contact-list {
    margin-top: 2rem;
    display: flex;
    gap: 60px;
}

.contact-list > div {
    font-size: 28px;
    font-weight: 600;
}

.contact-list > div > a {
    text-decoration: none;
    color: #212121;
}


/* Footer */
footer {
    padding: 7rem;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}

footer > a {
    text-decoration: none;
    color: #212121;
}